* {
  color: #98FB98;
  font-size: 14px;
;
  font-family: 'Muli', sans-serif;
}
#main{
  margin: auto;
  width: 94%;
  position: absolute;
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: 2.5s;
}

#main:hover {
  opacity: 1;
  transition: .8s;
}

#slide-picker {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-self:center;
}

.author:hover {
  cursor: none;
}

.thumb1{
  background-image: url("http://cdn.calm.com/images/scene-bg-cfLUgx4Iku.jpg?v=1417688439976");
}
.thumb2{
  background-image: url("http://cdn.calm.com/images/scene-bg-AI2PpDVaKc.jpg?v=1417688493900");
}
.thumb3{
  background-image: url("http://cdn.calm.com/images/scene-bg-7EIjhZ98C7.jpg?v=1417688565555");
}

.thumbnail {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 4px;
    position: relative;
    opacity: .5;
}

.title-label {
  margin: auto;
  margin-top: 30px;
  position: relative;
  z-index: 200;
  font-weight: 300;
  font-size: 8px;

}

.author {
  margin-top: 10px;
  font-family: 'Muli', sans-serif;
}



#background-video{

height: 100%;
width: 100%;
float: left;
top: 0;
padding: none;
margin: 0 0 0 0;
position: fixed;


}
